:root{
    --primary-bg: url("../images/background.jpg");
    --primary-font-color: #f5f5f5;
    --primary-bg-color: #A76E5C;
    --shadow-color: #462900;
    --li-img: url("../images/li.png")

}

body{
    background-image: var(--primary-bg)
}

.dateBox{ 
    width: 150px;
    height: 150px;
    border-radius: 5px; 
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 0 2px var(--shadow-color);
    color: var(--primary-font-color);
}

.bar{
    margin: 20px;
    width: 400px;
    border-radius: 5px;
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 0 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test{
    background-color: #5a3e36;
    border-radius: 5px;
    height: 20px;
    width: 0%;
}

.progressBar{
    width: 380px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    
}

.inputBox{
    width: 300px;
    height: 50px;
    border-radius: 24px;
    border: 1px transparent;
    box-shadow: 0 0 0 2px var(--shadow-color);
    outline: none;
    
}

.listBox{
    margin-top: 10px;
    border: 1px solid black;
    height: 400px;
    width: 800px;
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 0 2px var(--shadow-color);
    border-radius: 5px;
}

ul{
    list-style-image: var(--li-img);    
   
    
}

li{
    font-size: 25px;
    margin-top: 15px;
   
    
}

.strikeThrew{
     text-decoration: line-through black 5px;
}

