:root{
    --primary-bg: url("../images/background.jpg");
    --primary-font-color: #f5f5f5;
    --primary-bg-color: #A76E5C;
    --shadow-color: #462900;
    --li-img: url("../images/li.png");
    --Pacifico: 'Pacifico';


}

body{
    background-image: var(--primary-bg);
    margin-left: 250px;
    font-family: var(--Pacifico);
}


.mainBox{
    
    width: 900px;
    display: flex;
    flex-direction: row;
    
}


.rightSide{
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.dateBox{ 
    width: 200px;
    height: 200px;
    border-radius: 5px; 
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 0 2px var(--shadow-color);
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.bar{
    margin: 20px;
    width: 400px;
    border-radius: 5px;
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 0 3px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.progressBar{
    width: 380px;
    height: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
   border: 1px solid black;
    
    
}

.progress{
    height: 20px;
    width: 0%;
    background:  #462900;
    transition: width 0.3 ease;

}




.inputBox{
    width: 300px;
    height: 50px;
    border-radius: 24px;
    border: 1px transparent;
    box-shadow: 0 0 0 2px var(--shadow-color);
    outline: none;
    
}

.listBox{
    margin-top: 10px;
    border: 1px solid black;
    min-height: 350px;
    height: auto;
    width: 800px;
    background-color: var(--primary-bg-color);
    box-shadow: 0 0 0 2px var(--shadow-color);
    border-radius: 5px;
}

ul{
    list-style-image: var(--li-img);    
   
    
}

li{
    font-size: 25px;
    margin-top: 15px;
   
    
}

.strikeThrew{
     text-decoration: line-through black 5px;
}

